<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Skill Lists</title>
  </head>
  <body>
    <h1>skills</h1>
    <ul>
      <% skills.forEach((t, idx) => { %>
      <li>

        <a href="/skills/<%= idx %>">
          <%= t.skill %>
          <form
          action="/skills/<%=idx%>?_method=DELETE"
          method="POST"
          class="delete-form"
        >
          <button type="submit" name="skill" class="delete-form button">
            x
          </button>
        </form>
        </a>
      </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add skills</a>
  </body>
</html>
