<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Skills</title>
</head>
<body>
    <h1>Skill #<%= skillNum %></h1>
    <h3><%= skill.skill %></h3>
    <h3>Complete: 
            <%= 
                     skill.done 
                     ? 'Yes' 
                     : 'No' 
             %>
            </h3>
            <form action="/skills/<%= skillNum - 1%>/update?_method=PUT" method="POST">
                <input type= "checkbox" name= "done">If ommited: incomplete <br>
                <input type="submit" value="Update The Task">
            </form>
            <br>
            <br>
            <br>
            
            <form action="/skills">
                <input type="submit" value="Go Back To The List">
            </form>

</body>
</html>